.libs
*.pm
stamp-h1
.deps
*.vers
*.list
*.dirstamp
*.spec
curl
*.la
*.lo
*.o
libtool
libcurl.pc
curl-config
Makefile
configure.ac
config.log
config.status
projects/Windows/VC*
lib/curl_config.h
src/tool_hugehelp.c
