.libs
*.o
*.lo
*.la
sample/dns-example
sample/event-test
sample/hello-world
sample/http-server
sample/le-proxy
sample/signal-test
sample/time-test
test/bench
test/bench_cascade
test/bench_http
test/bench_httpclient
test/regress
test/rpcgen-attempted
test/test-changelist
test/test-eof
test/test-init
test/test-ratelim
test/test-time
test/test-weof
config.log
src/*.lo
libevent.pc
libevent_openssl.pc
libevent_pthreads.pc
autom4te.cache
Makefile
config.h
config.status
include/Makefile
libtool
sample/Makefile
stamp-h1
test/Makefile
test/test-script.sh
include/event2/event-config.h

