AUTHORS
Changes.md
LICENSE
Makefile.am
Makefile.in
NOTICE
README.md
aclocal.m4
common.mk
compile
config.guess
config.h.in
config.sub
configure
configure.ac
depcomp
doc/libmaxminddb.md
doc/mmdblookup.md
include/maxminddb.h
include/maxminddb_config.h.in
install-sh
ltmain.sh
man/man1/mmdblookup.1
man/man3/MMDB_aget_value.3
man/man3/MMDB_close.3
man/man3/MMDB_dump_entry_data_list.3
man/man3/MMDB_free_entry_data_list.3
man/man3/MMDB_get_entry_data_list.3
man/man3/MMDB_get_metadata_as_entry_data_list.3
man/man3/MMDB_get_value.3
man/man3/MMDB_lib_version.3
man/man3/MMDB_lookup_sockaddr.3
man/man3/MMDB_lookup_string.3
man/man3/MMDB_open.3
man/man3/MMDB_read_node.3
man/man3/MMDB_strerror.3
man/man3/MMDB_vget_value.3
man/man3/libmaxminddb.3
projects/VS12-tests/bad_pointers.vcxproj
projects/VS12-tests/basic_lookup.vcxproj
projects/VS12-tests/data_entry_list.vcxproj
projects/VS12-tests/data_types.vcxproj
projects/VS12-tests/dump.vcxproj
projects/VS12-tests/get_value.vcxproj
projects/VS12-tests/get_value_pointer_bug.vcxproj
projects/VS12-tests/ipv4_start_cache.vcxproj
projects/VS12-tests/ipv6_lookup_in_ipv4.vcxproj
projects/VS12-tests/libtap.vcxproj
projects/VS12-tests/maxminddb_test_helper.vcxproj
projects/VS12-tests/metadata.vcxproj
projects/VS12-tests/metadata_pointers.vcxproj
projects/VS12-tests/no_map_get_value.vcxproj
projects/VS12-tests/read_node.vcxproj
projects/VS12-tests/shared.vcxproj
projects/VS12-tests/threads.vcxproj
projects/VS12-tests/version.vcxproj
projects/VS12/README.md
projects/VS12/libmaxminddb-release.props
projects/VS12/libmaxminddb-x64.props
projects/VS12/libmaxminddb.props
projects/VS12/libmaxminddb.sln
projects/VS12/libmaxminddb.vcxproj
projects/VS12/libmaxminddb.vcxproj.filters
projects/VS12/maxminddb_config.h
src/Makefile.am
src/Makefile.in
src/data-pool.c
src/data-pool.h
src/libmaxminddb.pc.in
src/maxminddb-compat-util.h
src/maxminddb.c
t/
Makefile
config.h
config.log
config.status
include/maxminddb_config.h
include/stamp-h2
libtool
src/.deps/
src/.libs/
src/Makefile
src/libmaxminddb.pc
src/test-data-pool
stamp-h1
